# Test results for perl-5.18.1 on OpenBSD.

These tests *not* are currently enabling threads on purpose.  That addition will come later.

[Build logs are available on github](https://github.com/afresh1/OpenBSD-perl/tree/master/build_logs/perl-5.18.1)

- [ ] alpha	Digital Alpha-based systems
- [x] [amd64](https://github.com/afresh1/OpenBSD-perl/tree/master/build_logs/perl-5.18.1/perl-5.18.1-build-amd64-20131109T174240.log)	AMD64-based systems
- [ ] armish	ARM-based appliances (by Thecus, IO-DATA, and others)
- [x] [armv7](https://github.com/afresh1/OpenBSD-perl/tree/master/build_logs/perl-5.18.1/perl-5.18.1-build-armv7-20131108T222113.log)	ARM-based devices, such as BeagleBone, BeagleBoard, PandaBoard ES, SABRE Lite, Nitrogen6x and Wandboard
- [ ] aviion	Motorola 881x0-based Data General AViiON systems
- [ ] hp300	Hewlett-Packard HP 9000 series 300 and 400 workstations
- [ ] hppa	Hewlett-Packard Precision Architecture (PA-RISC) systems
- [ ] i386	Standard PC and clones based on the Intel i386 architecture and compatible processors
- [ ] landisk	IO-DATA Landisk systems (such as USL-5P) based on the SH4 cpu
- [ ] loongson	Loongson 2E- and 2F-based systems, such as the Lemote Fuloong and Yeeloong, Gdium Liberty, etc.
- [ ] luna88k	Omron LUNA-88K and LUNA-88K2 workstations
- [ ] macppc	Apple New World PowerPC-based machines, from the iMac onwards
- [ ] mvme68k	Motorola 680x0-based VME systems
- [ ] mvme88k	Motorola 881x0-based VME systems
- [ ] octeon	Cavium Octeon-based MIPS64 systems
- [ ] sgi	SGI MIPS-based workstations
- [ ] socppc	Freescale PowerPC SoC-based machines
- [ ] sparc	Sun sun4, sun4c, sun4e and sun4m class SPARC systems
- [x] [sparc64](https://github.com/afresh1/OpenBSD-perl/tree/master/build_logs/perl-5.18.1/perl-5.18.1-build-sparc64-20131102T171136.log)	Sun UltraSPARC and Fujitsu SPARC64 systems
- [ ] vax	Digital VAX-based systems
- [ ] zaurus	Sharp Zaurus C3x00 PDAs
